button,
.button {
  font-family: "Jost";
  margin: 0.5em;
  margin-top: 0;
  height: 3em;
  width: 9em;
}

button:hover,
.button:hover,
.sign-in:hover {
  background-color: #4b553a;
  border: #4b553a;
  opacity: 0.8;
}

/* Create an account button link on modal sizing and spacing */
.btn-link {
  width: 150px;
  margin: 0 -1vw;
}

.btn:hover {
  color: #000;
  background-color: #fff !important;
  text-decoration: none;
  border-color: #fff;
}

/* upload button */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upld-btn {
  border: 2px solid white;
  width: 20em;
  background-color: transparent;
  height: 2em;
  border-radius: 20px;
  padding: 0.2em;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.submit-btn {
  margin: 2vh 20vw;
  background-color: transparent;
  color: white;
  font-family: "Jost";
  border-radius: 2.5em;
  border-color: white !important;
  height: 10vh;
  width: 14vw;
}
.submit-btn:hover {
  background-color: #a8bfae;
  color: #92a798;
}
.submit-btn::after {
  background-color: #a8bfae !important;
  color: #92a798;
}
/* .link:hover {
	border-radius: 4px;
	border: 1px solid #404040;
	margin: 0.5em;
	margin-top: 0;
	height: 4em;
	width: 10em;
	background-color: #404040;
	color: white;
} */

/*
button.primary {
	background: #85bd9a;
	color: white;
	padding: 14px 20px;
	font-size: 16px;
	border-radius: 4px;
	border: none;
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
}

button.secondary:hover {
	background: #1a5320;
}

button.cancel,
.button.cancel {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 14px;
	text-align: center;
	box-sizing: border-box;
}

button.full {
	width: 100%;
	font-weight: bold;
}

.centerbutton {
	text-align: center;
} */
