/* form input {
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #e2e2e2;
}

form input[type='file'] {
	padding: 8px;
}

form label {
	display: block;
	margin-bottom: 2px;
	color: #8a8a8a;
}

form .group + .group {
	margin-top: 10px;
}

form .group + button {
	margin-top: 15px;
}

form textarea {
	width: 100%;
	border-radius: 4px;
	font-size: 16px;
	padding: 10px 15px;
	box-sizing: border-box;
	height: 60px;
}

select {
	width: 100%;
	height: 30px;
	background: white;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #e2e2e2;
	cursor: pointer;
}

label.checkbox input {
	display: inline-block;
	width: auto;
	height: auto;
	margin-top: 10px;
}

form.small label {
	color: black;
}

form.small input {
	margin-bottom: 2px;
	height: 34px;
	padding: 10px;
	border-radius: 3px;
	font-size: 14px;
}

form.small select {
	height: 34px;
	font-size: 14px;
	border-radius: 3px;
}

/*
h2 + form {
	margin-top: 50px;
}
*/

/* form .rating {
	cursor: pointer;
	font-size: 14px;
	margin: 10px 0;
}*/
.labelfont {
  font-family: "EB Garamond", serif;
  font-size: 20px;
}

/* /////////////////// */

/* form input {
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #e2e2e2;
}

form input[type='file'] {
	padding: 8px;
}

form label {
	display: block;
	margin-bottom: 2px;
	color: #8a8a8a;
}

form .group + .group {
	margin-top: 10px;
}

form .group + button {
	margin-top: 15px;
}

form textarea {
	width: 100%;
	border-radius: 4px;
	font-size: 16px;
	padding: 10px 15px;
	box-sizing: border-box;
	height: 60px;
}

select {
	width: 100%;
	height: 30px;
	background: white;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #e2e2e2;
	cursor: pointer;
}

label.checkbox input {
	display: inline-block;
	width: auto;
	height: auto;
	margin-top: 10px;
}

form.small label {
	color: black;
}

form.small input {
	margin-bottom: 2px;
	height: 34px;
	padding: 10px;
	border-radius: 3px;
	font-size: 14px;
}

form.small select {
	height: 34px;
	font-size: 14px;
	border-radius: 3px;
}

/*
h2 + form {
	margin-top: 50px;
}
*/

/* form .rating {
	cursor: pointer;
	font-size: 14px;
	margin: 10px 0;
}*/
/* .labelfont {
  font-family: "EB Garamond", serif;
  font-size: 20px;
}
 */

.form-boxes {
  background-color: #96ad9c;
  border: 1px solid #fff !important;
  padding: 0.5em;
}

.form-boxes:focus {
  background-color: #96ad9c;
}

.form-sm {
  height: 3.5em;
  border-radius: 2.5em;
  padding: 1vw;
  color: #fff;
}

.form-lrg {
  height: 8em;
  border-radius: 2em;
  padding: 3.5vh;
  color: #fff;
}

.form-label {
  color: white !important;
}
.form-control:focus {
  color: #d2ecf1;
}

.form-control::-webkit-input-placeholder {
  color: #d2ecf1;
  font-family: "Jost";
  letter-spacing: 0.1em;
  font-size: 0.9em;
}

.accent-co {
  color: #d2ecf1;
  font-family: "Jost";
  letter-spacing: 0.2em;
}

.toggle {
  text-decoration: none;
  color: white;
  font-family: "Jost";
  font-size: 1em;
  letter-spacing: 0.2em;
}
.toggle:hover {
  text-decoration: none;
  color: #eaeaea;
}
.info {
  margin: 2em;
}

/* ////features cards "button" on create */

.features-buttons {
  background-color: transparent !important;
  border-radius: 50%;
  border: 1px solid white;
  height: 8em;
  width: 8em;
  display: inline-flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fb-icon {
  /* padding: 3vh 3.5vw 0; */
  font-size: 4em;
}

.fb-txt {
  /* padding: 0.2em 3.5vh 0; */
  font-size: 2vh;
  line-height: 3vh;
  text-transform: uppercase;
}

.form-txt {
  font-family: Jost;
  color: #fff;
  text-align: center;
}

/* ///////// CHECKBOXES ///////////// */
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container {
  display: block;
  position: relative;
  padding: 0 2vw;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.5vh !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-li {
  text-decoration: none;
  padding: 2vh;
  margin: 0 -5vw 0 0;
}

li > .c-cli-items {
  padding: 1vh 2vw;
  font-size: 45px;
  letter-spacing: 0px;
  text-transform: lowercase;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: transparent;
  border: 1px solid white;
}

/* On mouse-over, add a lighter background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #a8bfae;
}

/* When the checkbox is checked, add a darker background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #92a798;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* /////////////////// */
