@media only screen and (max-width: 600px) {
  height: 50%;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.bg-img {
  height: 90%;
  text-align: center;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #9aa07e;
}

/* text on hero image */
.hero-text {
  padding: 10vh 0 10vh 0;
  /* z-index: 5px; */
}

.header-img {
  background-image: url("https://images.unsplash.com/photo-1501696057772-02661ce93702");
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  align-items: center;
}

/* fonts */
/* mains */

h2,
.secondary {
  color: white;
  font-family: "Kodchasan";
  font-size: 35px;
  line-height: 200%;
  letter-spacing: 5px;
  margin: 0 20vw;
}
h3,
.thirdly {
  font-family: "Kodchasan";
  color: #545b62;
  text-transform: capitalize;
  padding: 15vh 0 4vh;
}

/* center box around 2nd row content */
.center-box {
  height: 80vh;
  width: 90vw;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 100px;
  padding: 20px;
  opacity: 70%;
  justify-content: center;
  display: flex;
}

.grid .five {
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

/* search bar landing page */

.center-search {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  border: 2px solid;
  border-radius: 30px;
  overflow: hidden;
  margin: 10vh;
  width: 40vw;
  border: white;
  box-sizing: border-box;
  color: white;
}

.search-panel {
  box-sizing: border-box;
  /* position: absolute; */
  width: 40vw;
  top: 100%;
  margin: -1vh 0 0 30vw;
  left: 0px;
  background: inherit;
  z-index: 100;
}

.search-icon {
  padding: 1.3rem 0.5em 1.3rem 1.3rem;
  background-color: #9aa07e;
  color: #fff;
  background-position: center;
  font-size: 1em;
}

.center-searchBox {
  background-color: #9aa07e;
  color: white;
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

/* input,
.searchBox {
	width: 65vw;
	border: none;
	font-size: 19px;
	font-family: 'Jost';
	box-sizing: border-box;
	padding: 10px;
	margin-top: 40px;
} */

textarea:focus,
input:focus {
  outline: none;
}
/* end search bar */

/* .landing {
	border-radius: 3px;
	background-color: #effcef;
	width: 50vw;
	padding: 20px;
}

.search {
	border: none;
	font-size: 19px;
	width: calc(50vw - 10px);
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;
}

.image {
	background-image: url('https://images.pexels.com/photos/1779746/pexels-photo-1779746.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow-y: scroll;
}
*/
/* landing page dropdown */
.dropdown {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.6);
  display: none;
}

.dropdown .option {
  padding: 4vh 4vw;
  border: none;
  display: none;
  text-align: left;
}

.dropdown .option:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dropdown.open {
  display: block;
}

.dropdown.open .option {
  display: block;
}
.landing .font {
  font-family: "EB Garamond", serif;
  padding: 10px;
  font-size: 40px;
}
